In [143]:
import numpy as np
import pandas as pd
data=pd.read_csv("Fat_Supply_Quantity_Data.csv")
data

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,29.5211,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,5.6211,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,23.6312,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,15.2848,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,26.9396,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [60]:
data.shape

(170, 33)

In [41]:
data.describe()

,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Miscellaneous,...,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Confirmed,Deaths,Recovered,Active,Population
count,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,...,170.000000,170.000000,170.000000,170.000000,167.000000,164.000000,164.000000,164.000000,162.000000,1.700000e+02
mean,0.001035,20.695714,4.138451,0.000450,4.376548,0.953890,0.850437,0.542117,9.494279,0.056589,...,0.698955,29.304396,18.571657,0.309512,18.707784,2.021972,0.039370,1.452356,0.535158,4.452364e+07
std,0.009569,8.002713,3.287462,0.004039,3.183815,0.643957,0.924103,0.838286,4.666762,0.072633,...,0.814828,8.002369,6.766615,0.211766,9.633557,2.360454,0.048718,1.927617,1.329249,1.564182e+08
min,0.000000,5.018200,0.026200,0.000000,0.990800,0.058000,0.017400,0.037300,0.906100,0.000000,...,0.000000,13.098200,4.954900,0.026300,2.100000,0.000312,0.000000,0.000000,0.000000,5.400000e+04
25%,0.000000,14.885800,1.674225,0.000000,1.970150,0.411350,0.330975,0.239500,6.263575,0.010125,...,0.137350,23.133050,13.812825,0.173675,8.500000,0.140976,0.002013,0.099107,0.012028,2.816250e+06
50%,0.000000,20.943050,3.312350,0.000000,3.306750,0.898300,0.572700,0.361400,9.259000,0.031650,...,0.452400,29.060600,18.192550,0.247450,21.200000,1.011570,0.011998,0.475402,0.081040,1.018150e+07
75%,0.000000,26.866950,6.227575,0.000000,5.587600,1.276900,1.111625,0.577800,11.750450,0.076325,...,0.914025,35.117250,23.597300,0.362925,25.700000,3.487069,0.069503,2.622874,0.358183,3.271625e+07
max,0.097600,36.901800,14.937300,0.051100,18.376300,3.275600,8.406800,9.672700,26.429200,0.456100,...,4.975600,44.981800,36.418600,1.153800,45.600000,10.408199,0.185428,9.039871,8.019819,1.402385e+09

In [62]:
data.values

array([['Afghanistan', 0.0, 21.6397, ..., 38928000.0, '%',
        3.006185778873818],
       ['Albania', 0.0, 32.0002, ..., 2838000.0, '%', 3.0509513742071883],
       ['Algeria', 0.0, 14.4175, ..., 44357000.0, '%',
        3.0065581531663548],
       ...,
       ['Yemen', 0.0, 12.5401, ..., 29826000.0, '%', 3.002061959364313],
       ['Zambia', 0.0783, 9.6005, ..., 18384000.0, '%',
        3.0045637510879026],
       ['Zimbabwe', 0.0, 10.3796, ..., 14863000.0, '%',
        3.0088542017089415]], dtype=object)

In [43]:
data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%

In [44]:
data.head(10)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
5,Argentina,0.0,30.3572,3.3076,0.0,1.3316,1.5706,0.1664,0.2091,19.2693,...,17.3147,0.1878,28.5,4.6,4.356147,0.108227,3.905192,0.342729,45377000.0,%
6,Armenia,0.0,29.6642,6.2619,0.0,2.5068,1.6196,0.2218,0.5468,10.8165,...,12.8127,0.8717,20.9,4.3,5.681225,0.105345,5.398410,0.177470,2956000.0,%
7,Australia,0.0,24.1099,4.6030,0.0,0.9908,0.7017,0.4515,0.4028,11.6002,...,20.3612,0.2144,30.4,<2.5,0.112025,0.003530,0.101289,0.007207,25754000.0,%
8,Austria,0.0,27.8268,12.8517,0.0,1.2297,1.2147,0.4259,0.2249,8.1099,...,17.9323,0.2039,21.9,<2.5,4.739982,0.089679,4.496870,0.153433,8914000.0,%
9,Azerbaijan,0.0,32.1198,7.7987,0.0,5.4481,2.0197,0.2122,0.5940,11.9993,...,7.1538,0.6534,19.9,<2.5,2.285536,0.031223,2.225574,0.028740,10108000.0,%

In [45]:
data.tail(10)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
160,United Republic of Tanzania,0.0000,7.5907,1.5442,0.0,4.2140,0.0744,0.4558,0.2698,3.0140,...,27.0605,0.2419,7.1,30.7,0.000852,0.000035,0.000306,0.000511,59734000.0,%
161,United States of America,0.0000,21.2045,3.3013,0.0,1.2829,1.2500,0.3887,0.4426,9.4166,...,23.6117,0.1944,37.3,<2.5,8.159922,0.140103,0.000000,8.019819,329878000.0,%
162,Uruguay,0.0000,25.5069,3.4811,0.0,2.5698,1.2804,0.3281,0.1777,12.2841,...,18.8819,0.2096,28.9,<2.5,1.269102,0.013622,1.089465,0.166015,3531000.0,%
163,Uzbekistan,0.0000,25.9903,2.4884,0.0,2.7168,1.0639,0.0962,0.5830,10.3624,...,18.4589,0.8535,15.3,6.3,0.231302,0.001817,0.226751,0.002733,34174000.0,%
164,Vanuatu,0.0000,14.9179,1.9531,0.0,4.1249,0.3509,1.4343,0.3052,9.9334,...,6.4849,0.1424,23.5,7.2,0.000312,0.000000,0.000312,0.000000,321000.0,%
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,29.5211,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,5.6211,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,23.6312,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,15.2848,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,26.9396,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [46]:
data.sample(n=5)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
30,China,0.0000,31.0465,3.4468,0.0097,2.5989,2.3066,0.9817,0.2344,21.6062,...,10.6590,0.5763,6.6,8.5,0.007156,0.000344,0.006685,0.000126,1.402385e+09,%
145,Sweden,0.0000,28.4111,9.7148,0.0000,1.9481,1.3741,0.8778,0.3556,8.8481,...,16.6630,0.2296,22.1,<2.5,5.666975,0.116749,0.000000,5.550226,1.037700e+07,%
97,Malta,0.0000,29.3856,6.6557,0.0000,4.8786,1.3878,1.3074,0.2666,10.6541,...,9.3975,0.5162,31.0,<2.5,3.558621,0.053448,3.045211,0.459962,5.220000e+05,%
82,"Korea, South",0.0976,20.0483,4.2523,0.0511,1.8403,1.3524,1.9147,0.1766,11.1860,...,23.7197,0.6924,4.9,<2.5,0.156227,0.002841,0.136855,0.016531,5.178100e+07,%
144,Suriname,0.0000,14.8751,0.7849,0.0000,3.1593,0.9601,0.7720,0.2335,10.6390,...,26.9089,0.2789,26.5,8.5,1.429752,0.026446,1.318017,0.085289,6.050000e+05,%

In [47]:
data.sample(frac=.5)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
165,Venezuela (Bolivarian Republic of),0.0,16.3261,2.2673,0.0000,2.5449,0.6555,0.5707,0.9640,7.0949,...,29.5211,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
47,Eswatini,0.0,20.8055,3.1415,0.0000,12.0023,0.4718,0.3682,0.4718,11.1162,...,10.9436,0.1956,13.5,20.6,1.465670,0.054710,1.038859,0.372101,1104000.0,%
40,Djibouti,0.0,11.1065,1.3966,0.0000,4.3977,0.2494,0.2910,0.1247,5.1210,...,31.4490,0.4572,12.2,18.9,0.601316,0.006377,0.592308,0.002632,988000.0,%
90,Lithuania,0.0,32.3048,9.3880,0.0000,1.7819,1.9226,1.2380,0.3283,14.2134,...,12.7128,0.2579,28.4,<2.5,6.667072,0.104760,4.939621,1.622691,2794000.0,%
50,Finland,0.0,36.7250,6.3787,0.0000,1.7872,0.8524,0.9384,0.2901,16.6649,...,8.8607,0.2041,24.9,<2.5,0.854802,0.012443,0.560680,0.281678,5529000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,New Caledonia,0.0,22.2697,3.6599,0.0000,5.0979,1.0439,0.8385,0.2222,11.6086,...,16.8532,0.1887,NaN,7.1,NaN,NaN,NaN,NaN,295000.0,%
66,Hungary,0.0,28.9972,12.3082,0.0000,1.2735,1.2018,0.1954,0.1270,10.0576,...,18.0699,0.2019,28.6,<2.5,3.840739,0.133367,2.845797,0.861575,9767000.0,%
131,Samoa,0.0,21.6806,4.7780,0.0036,1.5771,0.2227,1.8968,0.6287,13.2418,...,8.3345,0.0431,45.5,2.7,0.001000,0.000000,0.001000,0.000000,200000.0,%
99,Mauritius,0.0,12.8934,1.4559,0.0000,3.2471,0.7355,1.0457,0.1501,6.7594,...,29.9945,0.1751,11.5,6.5,0.046166,0.000791,0.042688,0.002688,1265000.0,%
120,Peru,0.0,18.0402,1.1055,0.0000,5.5879,2.1206,1.9497,1.6382,6.8241,...,19.6482,0.4523,19.1,9.7,3.573742,0.127751,3.310514,0.135477,32824000.0,%

In [48]:
data['Country']

0                             Afghanistan
1                                 Albania
2                                 Algeria
3                                  Angola
4                     Antigua and Barbuda
                      ...
165    Venezuela (Bolivarian Republic of)
166                               Vietnam
167                                 Yemen
168                                Zambia
169                              Zimbabwe
Name: Country, Length: 170, dtype: object

In [49]:
data.loc[:11,['Animal Products','Animal fats']]

    Animal Products  Animal fats
0           21.6397       6.2224
1           32.0002       3.4172
2           14.4175       0.8972
3           15.3041       1.3130
4           27.7033       4.6686
5           30.3572       3.3076
6           29.6642       6.2619
7           24.1099       4.6030
8           27.8268      12.8517
9           32.1198       7.7987
10          30.2259       4.5600
11           9.8365       1.2369

In [50]:
data.loc[10:15,'Eggs':'Fish, Seafood']

      Eggs  Fish, Seafood
10  1.2829         1.4991
11  1.2664         2.1646
12  1.2130         1.8060
13  1.5772         0.5151
14  1.1703         0.6188
15  0.6759         0.4155

In [51]:
data.Meat.unique()

array([ 6.1244,  8.7428,  3.8961, 11.0268, 14.3202, 19.2693, 10.8165,
       11.6002,  8.1099, 11.9993, 17.4941,  1.8407, 13.1382, 11.5636,
        5.6817, 10.3435,  3.2849, 21.1476,  9.6957,  3.4759, 14.292 ,
        9.3523,  3.5741,  9.9204, 11.7799,  3.3685,  7.8211, 12.9144,
        7.8546, 20.2172, 21.6062, 11.3996,  9.6514,  5.6449,  2.5809,
       11.4896, 16.0233, 10.5506,  8.6212,  9.2408,  5.121 , 13.7339,
        7.3718,  8.7453,  6.4678,  6.6547, 10.4279, 11.1162,  4.1768,
        8.423 , 16.6649, 11.0864, 14.0782, 13.4068,  1.3488,  7.2326,
        8.9127,  3.1618,  6.6267, 12.9576,  7.0735,  2.8993,  8.0527,
       12.555 ,  7.8944,  7.8603, 10.0576, 13.6029,  0.9061,  3.6237,
        6.1724,  3.5164, 10.0477,  8.1541,  8.7134,  9.5156,  7.8331,
        5.8122,  9.674 ,  6.5654,  6.1955,  8.7179, 11.186 ,  9.5706,
       10.1776, 15.0283,  9.7976,  5.1361,  9.1881,  6.0051, 14.2134,
       16.3118, 11.5581, 14.6458,  9.8041,  5.836 ,  5.6745, 10.6541,
        5.7479,  6.7594, 13.2133, 21.0223, 14.7778,  6.9989,  6.8783,
       18.1335,  7.7772,  2.7069, 10.8567, 11.6086, 13.9409,  7.6069,
        3.6332,  2.4838,  6.5409, 10.6992,  9.0171,  3.4967,  9.1046,
       10.2335,  6.8241, 18.887 , 13.3072, 10.3459,  9.7764,  7.9894,
       10.8433,  5.2182, 14.3547, 22.8778, 17.529 , 13.2418,  4.1809,
        6.9243,  3.2319, 18.1385,  2.0412,  5.8496,  8.5899,  6.5431,
       14.1489,  9.2772,  2.027 ,  7.0789, 10.639 ,  8.8481, 12.0906,
       13.2817,  7.159 , 11.6621, 14.5525,  3.3889, 11.386 ,  4.0323,
        3.8475, 17.4764,  6.101 ,  9.635 ,  9.461 , 12.5789,  3.014 ,
        9.4166, 12.2841, 10.3624,  9.9334,  7.0949, 26.4292,  8.001 ,
        4.901 ,  4.5674])

In [52]:
data.Meat.nunique()

170

In [86]:
data['mode']=data.Deaths +3
data

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),mode
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%,3.006186
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%,3.050951
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%,3.006558
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%,3.001461
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%,3.007143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%,3.004287
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%,3.000036
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%,3.002062
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%,3.004564
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%,3.008854

In [66]:
data[["Animal fats","Animal Products"]].sort_values(by="Animal Products",ascending=False)

     Animal fats  Animal Products
101       5.5153          36.9018
50        6.3787          36.7250
39       14.2498          35.4131
67        7.1086          34.4402
110      13.9753          34.1264
..           ...              ...
54        0.2548           6.0418
136       0.1678           5.9931
34        0.2726           5.3253
151       0.5351           5.3063
113       0.8078           5.0182

[170 rows x 2 columns]

In [76]:
data.query('Animal fats>4000' and 'Obesity==22.3' )[["Animal fats","Animal Products"]]

    Animal fats  Animal Products
1        3.4172          32.0002
20       4.3627          24.8515

In [77]:
data.filter(like='55',axis=0)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),mode
55,Georgia,0.0,25.2749,7.2612,0.0,4.5695,1.1781,0.4284,0.2071,7.2326,...,0.1999,23.3,7.9,7.042261,0.087995,6.805249,0.149017,3715000.0,%,3.087995
155,Turkmenistan,0.0,32.6886,6.4856,0.0,2.9938,1.1060,0.1274,0.3069,17.4764,...,0.4459,17.5,5.4,NaN,NaN,NaN,NaN,6031000.0,%,NaN

In [89]:
data.where(data.Obesity>20,'Noooo')

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),mode
0,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,...,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%,3.050951
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%,3.006558
3,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,...,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo
4,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,...,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.964,7.0949,...,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%,3.004287
166,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,...,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo
167,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,...,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo
168,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,...,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo
169,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,...,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo,Noooo

In [96]:
data.duplicated(subset="Alcoholic Beverages")

0      False
1       True
2       True
3       True
4       True
       ...
165     True
166     True
167     True
168    False
169     True
Length: 170, dtype: bool

In [97]:
data.drop_duplicates(subset="Alcoholic Beverages")

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),mode
0,Afghanistan,0.0000,21.6397,6.2224,0.0000,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%,3.006186
82,"Korea, South",0.0976,20.0483,4.2523,0.0511,1.8403,1.3524,1.9147,0.1766,11.1860,...,0.6924,4.9,<2.5,0.156227,0.002841,0.136855,0.016531,51781000.0,%,3.002841
168,Zambia,0.0783,9.6005,1.6113,0.0000,14.3225,0.6266,1.0070,0.1343,4.9010,...,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%,3.004564

In [98]:
data.drop_duplicates(subset="Alcoholic Beverages").sum()

Country                         AfghanistanKorea, SouthZambia
Alcoholic Beverages                                    0.1759
Animal Products                                       51.2885
Animal fats                                            12.086
Aquatic Products, Other                                0.0511
Cereals - Excluding Beer                              24.1981
Eggs                                                   2.6649
Fish, Seafood                                          2.9544
Fruits - Excluding Wine                                0.7355
Meat                                                  22.2114
Miscellaneous                                          0.0387
Milk - Excluding Butter                               10.6945
Offals                                                 0.6427
Oilcrops                                              12.8281
Pulses                                                 0.2929
Spices                                                 0.4715
Starchy Roots                                          0.2829
Stimulants                                             0.4021
Sugar Crops                                               0.0
Sugar & Sweeteners                                        0.0
Treenuts                                               1.9661
Vegetal Products                                      98.7186
Vegetable Oils                                        56.0876
Vegetables                                             1.2084
Obesity                                                  15.9
Undernourished                                   29.8<2.546.7
Confirmed                                            0.632494
Deaths                                                0.01359
Recovered                                            0.550754
Active                                                0.06815
Population                                        109093000.0
Unit (all except Population)                              %%%
mode                                                  9.01359
dtype: object

In [129]:
data

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),mode
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%,3.006186
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%,3.050951
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%,3.006558
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%,3.001461
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%,3.007143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%,3.004287
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%,3.000036
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%,3.002062
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%,3.004564
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%,3.008854

In [139]:
data =pd.copy()
data['Sales'].apply(float)

AttributeError: module 'pandas' has no attribute 'copy'

In [135]:
imputed_values=my_imputer.fit_transform(cols)
imputed_values

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: '<2.5'

In [152]:
data.drop(["Undernourished"],axis=1,inplace=True)
data

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,28.3684,17.0831,0.3593,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,17.9998,9.2443,0.6503,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,35.5857,27.3606,0.5145,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,34.7010,22.4638,0.1231,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,22.2995,14.4436,0.2469,19.1,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,33.6855,29.5211,0.1851,25.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,16.7548,5.6211,0.6373,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,37.4535,23.6312,0.1667,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,40.3939,15.2848,0.1567,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,39.6248,26.9396,0.0789,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [153]:
imputed_values=my_imputer.fit_transform(cols)
imputed_values

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: '<2.5'

In [154]:
new_values=pd.DataFrame(imputed_values)
new_values

NameError: name 'imputed_values' is not defined